{{ define "content" -}}
<section class="section hero is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-4 has-text-weight-normal">
        {{ humanize .Params.ward }} ward: {{ .Params.name }}
      </h1>
      <h2 class="title is-1 extra">
        {{ if (eq .Params.status "nobut") }}
          NO
        {{ else }}
          {{ upper .Params.status }}
        {{ end }}
      </h2>
      <h3 class="title is-2">
        Your alderman {{ .Scratch.Get "statusDesc" }}
      </h3>
      <hr>
      <div class="columns has-text-left">
        <div class="column content is-offset-3 is-6">
          {{ if (eq .Params.status "no") }}
            <p>
              Looks like you're one of the lucky ones!
            </p>
          {{ else }}
            {{ .Content }}
          {{ end }}
          <br>
          <div class="box has-text-centered">
            <p class="has-text-weight-bold is-marginless">
              Want to learn more?
            </p>
            <p>
              <a href="/">Search for another ward</a> or check out <a href="/faqs/">our FAQs</a>
            </p>
          </div>
        </div>
      </div>
      <br>
      <div class="columns has-text-left">
        <div class="column content is-offset-3 is-6">
          <h3 class="subtitle is-4">
            Frustrated that you even have to ask?
          </h3>
          <p>
            Us, too. That's why we're holding a series of Public Newsroom events throughout August on how you can hold your
            alderman accountable, whether it's an election year or not. <a href="https://www.citybureau.org/notebook/2019/7/18/the-public-newsroom-returns-with-a-look-at-your-alderpersons-first-100-days">
              See the full schedule here
            </a>.
          </p>
          <p>
            Want to get involved? Get trained and paid to hold local government accountable any day of the week by joining our
            <a href="https://www.documenters.org/">Chicago Documenters network</a> or sign up for our newsletter to get the latest from our *proactive* political rundown, the
            Documenters Newswire.
          </p>
          <form action="https://citybureau.us11.list-manage.com/subscribe/post?u=5d2d7d56eca627ab2ca1a9c7e&amp;id=80e2e0ec06"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
            novalidate>
            <div style="display:none;">
              <label for="mailchimp-group-input">
                <input type="checkbox" id="mailchimp-group-input" name="group[12493][8]" value="1" checked>
                Documenters.org
              </label>
            </div>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input aria-label="Email" placeholder="Email address" type="email" value="" name="EMAIL" class="input required email"
                  id="mce-EMAIL" />
              </div>
              <div class="control">
                <button class="button is-submit is-info" type="submit">
                  Subscribe
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
